// COLOR
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$secondary-color-light: #ffb970;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

$color-white: #fff;
$color-dark: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;

// Width
$max-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;

// default font-size
$default-font-size: 1.6rem;