.book {
    background-image: linear-gradient(105deg, 
    rgba($color-white, .8) 0%, 
    rgba($color-white, .8) 50%, 
    transparent 50%), url('../img/nat-10.jpg');
    background-position: center;
    background-size: cover;

    @include respond(tab-land) {
        background-image: linear-gradient(to 105deg, 
        rgba($color-white, .8) 0%, 
        rgba($color-white, .8) 70%, 
        transparent 70%), url('../img/nat-10.jpg') !important;
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right, 
        rgba($color-white, .8) 0%, 
        rgba($color-white, .8) 100%), url('../img/nat-10.jpg');
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-port) {
            width: 100%;
            padding: 3rem;
        }
    }
}

.form {

    &__group {
        padding: 1rem;
        @include respond(tab-port) {
            padding: 0   
        }
    }

    &__input {
        display: block;
        width: 100%;
        padding: 2rem 1.5rem;
        border-radius: 3px;
        font-size: 1.6rem;
        background-color: rgba($color-white,.5);
        color: $color-grey-dark-2;
        border: none;
        outline: none;
        transition: all .3s;
        border-bottom: 3px solid transparent;

        
        &:focus {
            border-bottom: 3px solid $primary-color;
        }

        &:focus:invalid {
            border-bottom: 3px solid $secondary-color-dark;
        }
    }

    &__label {
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        margin: .8rem 0 0 2rem;
        transition: all .3s;
    }
    
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
        @include respond(tab-port) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        padding-left: 4rem;
        position: relative;
    }


    &__radio-button {
        display: inline-block;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        border: 5px solid $primary-color;
        position: absolute;
        top: -4px;
        left: 0;

        &::after {
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            background-color: $primary-color;
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity .3s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}