*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(tab-land) { //1200px
        font-size: 56.25%;
    }

    @include respond(tab-port) {  //900px
        font-size: 50%;
    }
  
    @include respond(big-dasktop) { //1800px
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
    color: $color-grey-dark;
}

::selection {
    background-color: $primary-color;
    color: $color-white;
}