

body {
    line-height: 1.6;
    font-weight: 400;
    padding: 30px;
    font-family: "Lato", sans-serif;
}

.heading-text {
    color: $color-white;
    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;

    &--main {
        font-size: 6.2rem;
        display: block;
        letter-spacing: 1.6rem;
        font-weight: 400;
    
        animation: MoveInLeft .4s ease-in;
    }
    &--sub {
        font-size: 2.2rem;
        letter-spacing: 1rem;
        display: block;
        font-weight: 400;
        margin-bottom: 32px;
    
        animation: MoveInRight .4s ease-in;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, $primary-color-dark, $primary-color-light);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg);
        text-shadow: .5rem 1rem 2rem rgba($color-dark, .2);
    }
}